<div>
    <h1>Add a new BLOG.</h1>

    <form action="/" method="post">
        <div class="mb-3">
            <label for="blogTitle" class="form-label">Blog title</label>
            <input type="text" class="form-control" id="blogTitle" name="blog_Title" placeholder="max letters 50">
        </div>
        <div class="mb-3">
            <label for="blogDescription" class="form-label">Blog description</label>
            <textarea name="blog_Description" id="blogDescription" cols="5" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="blogImgURL">Blog image URL</label>
            <input type="text" class="form-control" id="blogImgURL" name="blog_ImgURL" placeholder="Enter a valid URL">
        </div>
        <button type="submit" class="btn btn-warning"> Submit</button>
    </form>
</div>